# Dependencies
node_modules
**/node_modules

# Builds
.next
**/dist
**/build
*.tsbuildinfo

# Database
*.db-journal

# Logs & Environment
*.log
.DS_Store
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
config.bat
